{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}

{% set toggle_class = "" %}
<div{{attributes}}>
	{%- if title -%}
		{%
      set summary_classes = [
        required ? 'js-form-required',
        required ? 'form-required',
      ]
    %}
		{% set toggle_class = "collapse" %}
		<legend{{summary_attributes.addClass(summary_classes)}}>
			<button class="btn-collapse btn btn-outline-primary w-100 text-left" type="button" data-toggle="collapse" data-target="#{{field_set_id}}" aria-expanded="false" aria-controls="{{field_set_id}}">

				<span{{legend_span.attributes.addClass(legend_span_classes)}}>
					{{ title }}
				</span>
				<svg viewbox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg"><path d="M989.44 339.84a36.8 36.8 0 0 0-6.72-10.56 32 32 0 0 0-45.44 0 36.8 36.8 0 0 0-6.72 10.56A26.56 26.56 0 0 0 928 352a32 32 0 1 0 64 0 32 32 0 0 0-2.56-12.16zm-145.28 62.4-96 75.52A32 32 0 0 0 787.84 528l96-75.52a32 32 0 0 0-39.68-50.24zm-192 151.04L512 663.36 83.84 326.72a32 32 0 0 0-39.68 50.24l448 352a32 32 0 0 0 39.68 0l160-125.76a32 32 0 0 0-39.68-50.24z" fill="currentColor"/></svg>

			</button>
		</legend>

	{%- endif -%}
	<div class="{{toggle_class}} border px-5" id="{{field_set_id}}">

		<div class="details-wrapper">
			{% if errors %}
				<div class="form-item--error-message">
					<strong>{{ errors }}</strong>
				</div>
			{% endif %}
			{%- if description -%}
				<div class="details-description">{{ description }}</div>
			{%- endif -%}
			{%- if children -%}
				{{ children }}
			{%- endif -%}
			{%- if value -%}
				{{ value }}
			{%- endif -%}
		</div>
	</div>
</div>
