{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}
{% set toggle_class = "" %}
<fieldset{{attributes.addClass(classes)}}>
	{%
    set legend_span_classes = [
      'fieldset-legend',
      required ? 'js-form-required',
      required ? 'form-required',
    ]
  %}

	{#  Always wrap fieldset legends in a <span> for CSS positioning. #}
	<legend{{legend.attributes}}>
		{% if legend.title %}
			{% set toggle_class = "collapse" %}

			<button class="btn-collapse btn btn-outline-primary w-100 text-left" type="button" data-toggle="collapse" data-target="#{{field_set_id}}" aria-expanded="false" aria-controls="{{field_set_id}}">

				<span{{legend_span.attributes.addClass(legend_span_classes)}}>
					{{ legend.title }}
				</span>
				<svg viewbox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg"><path d="M989.44 339.84a36.8 36.8 0 0 0-6.72-10.56 32 32 0 0 0-45.44 0 36.8 36.8 0 0 0-6.72 10.56A26.56 26.56 0 0 0 928 352a32 32 0 1 0 64 0 32 32 0 0 0-2.56-12.16zm-145.28 62.4-96 75.52A32 32 0 0 0 787.84 528l96-75.52a32 32 0 0 0-39.68-50.24zm-192 151.04L512 663.36 83.84 326.72a32 32 0 0 0-39.68 50.24l448 352a32 32 0 0 0 39.68 0l160-125.76a32 32 0 0 0-39.68-50.24z" fill="currentColor"/></svg>

			</button>
		{% endif %}

	</legend>
	<div class="{{toggle_class}} border px-5" id="{{field_set_id}}">

		<div class="fieldset-wrapper py-3">
			{% if errors %}
				<div class="form-item--error-message">
					<strong>{{ errors }}</strong>
				</div>
			{% endif %}
			{% if prefix %}
				<span class="field-prefix">{{ prefix }}</span>
			{% endif %}
			{{ children }}
			{% if suffix %}
				<span class="field-suffix">{{ suffix }}</span>
			{% endif %}
			{% if description.content %}
				<div{{description.attributes.addClass('description')}}>{{ description.content }}</div>
			{% endif %}
		</div>
	</div>
</fieldset>
