{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}
{% set toggle_class = "" %}
<fieldset{{attributes.addClass(classes)}}>
	{%
    set legend_span_classes = [
      'fieldset-legend',
      required ? 'js-form-required',
      required ? 'form-required',
    ]
  %}

	{#  Always wrap fieldset legends in a <span> for CSS positioning. #}
	<legend{{legend.attributes}}>
		{% if legend.title %}
			{% set toggle_class = "collapse" %}

			<button class="btn-collapse btn btn-outline-primary w-100 text-left" type="button" data-toggle="collapse" data-target="#{{field_set_id}}" aria-expanded="false" aria-controls="{{field_set_id}}">
				<span{{legend_span.attributes.addClass(legend_span_classes)}}>
					{{ legend.title }}
				</span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" xml:space="preserve" transform="rotate(90)"><path fill="currentColor" d="M15.563 40.836a.997.997 0 0 0 1.414 0l15-15a.999.999 0 0 0 0-1.414l-15-15a.999.999 0 1 0-1.414 1.414l14.293 14.293-14.293 14.293a.999.999 0 0 0 0 1.414z"/></svg>
			</button>
		{% endif %}

	</legend>
	<div class="{{toggle_class}} border px-5" id="{{field_set_id}}">

		<div class="fieldset-wrapper py-3">
			{% if errors %}
				<div class="form-item--error-message">
					<strong>{{ errors }}</strong>
				</div>
			{% endif %}
			{% if prefix %}
				<span class="field-prefix">{{ prefix }}</span>
			{% endif %}
			{{ children }}
			{% if suffix %}
				<span class="field-suffix">{{ suffix }}</span>
			{% endif %}
			{% if description.content %}
				<div{{description.attributes.addClass('description')}}>{{ description.content }}</div>
			{% endif %}
		</div>
	</div>
</fieldset>
