{{attach_library("hbk_cforge/slider-style")}}
{% if sliders %}
<div {{ attributes.addClass('swiper') }}>
		<!-- Additional required wrapper -->
		<div
			class="swiper-wrapper">
			<!-- Slides -->
			{% for slide in sliders %}
				{% if slide.image and slide.show_slide %}
					<div class="swiper-slide">
						<div class="mitor-hero-2 mitor-hero-2--text-left">
							{{slide.image}}
							{% if slide.show_svg %}
							<div class="hole">
								<svg version="1.1" viewbox="0 0 10 10">
									<path d="M0 0 Q5 0 10 0 7 3 10 10 5 10 0 10 0 5 0 0" fill=""/>
								</svg>
							</div>
							{% endif %}
							{%  if slide.title or  slide.description.value or  slide.link_label %}
							<div class="mitor-hero-content">
								<div class="container">
									<div class="row mx-auto">
										<div class="mitor-card__body col-lg-6 py-5">
											{% if slide.title %}
											<h3 class="mc-title h3">
												{{slide.title}}
											</h3>
											{% endif %}
											{% if slide.description.value %}
											<div class="mc-description">
												{{slide.description.value | raw}}
											</div>
											{% endif %}
											{% if slide.link and slide.link_label %}
												<a href="{{slide.link}}" class="btn btn-wbu-background btn-outline-wbu-background text-light font-weight-bold px-5 ml-0 mt-5">{{slide.link_label}}</a>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<!-- controller -->
		  <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
</div>
{% endif %}